{% extends "base.html" %}

{% block content %}

<h1>Product Create Form</h1>

<br>

<form class="w-50" method="POST">
    {% csrf_token %}

<!--    <div class="form-group">-->
<!--        <label>Name</label>-->
<!--        <input type="text" id="name" name="name" class="form-control">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label>Description</label>-->
<!--        <textarea rows="10" cols="30" id="description" name="description" class="form-control"></textarea>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label>Price</label>-->
<!--        <input type="number" id="price" name="price" class="form-control">-->
<!--    </div>-->
<!--    <br>-->


<!--    {{ form.as_p }}-->

    {% for field in form %}
    <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}

    <button class="btn btn-success">Submit</button>

</form>

{% endblock %}